.About{
    background: #ccc;
    color: #333;
    padding: 5em;
    h1{
        font-size: 70px;
        text-transform: uppercase;
        font-weight: bolder;
    }
    p{
        font-size: 30px;
    }
}