.Gallery{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid red;
    width: 80%;
    margin: auto;
    color: whitesmoke;
        h3{
            //position: absolute;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            font-size: 150px;
            width: 50%;
        }
        img{
            width: 50%;
        }
}
