.Gallery{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8em;
    width: 80%;
    margin: auto;
    color: whitesmoke;
        h3{
            padding-left: 45%;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            font-size: 150px;
            width: 50%;
        }
        img{
            width: 350px;
        }
}
