.Home{
    color: rebeccapurple;
    font-size: 65px;
    height: 80vh;
    padding: 1em;
    display: flex;
    justify-content:space-around;
    align-items: center;
    //background-position: center;
    //background-repeat: no-repeat;
    //background-size: cover;
    //opacity: 0.8;
    img{
        width: 700px;
    }
}
