.Home{
    background: #ccc;
    color: #333;
    font-size: 45px;
   height: 80vh;
   border: whitesmoke 2px solid;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
}
